* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color:#FFF8DC;
}

.Converter {
  padding: 10px;
  transform: translate(-50%, -50%);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid gray;
  display: flex;
  background-color: white;
  border-radius: 7px;
  flex-wrap: wrap;
  background-color: blanchedalmond;
}

.temperaturebox, .typebox {
  display: flex;
  flex-direction: column;
  
  width: 100%;
  max-width: 120px;
  padding: 2px;
  margin-top: 20px;

}

.resultsBox {
  visibility: hidden;
}


label {
  font-size: 12px;
  color: gray;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 25x;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 1px;
  text-decoration: none;
  justify-content: center;

}

.buttonbox {
  width: 100%;
  max-width: 100px;
  align-items: center;
  margin: 30px 10px 5px 10px;
  padding-left: 4px;
  padding-top: 10px;
  
  display: flex;
}

input, select {
  margin-top: 3px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 7px;
  padding-left: 4px;
  text-align: center;
  
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

h1 {
 text-align: center;
}

.heading {
  position: relative;
  margin-top: 15%;
  color: #DC143C;
}




button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}








